<div class="trip-card" style="width: 250px; height: 300px;">
  <div class="w-100 h-100">
    <div class="card-img-top position-relative">
      <%# <%= if trip.photos.attached? %>
      <%# cl_image_tag island.photos.key, height: 200, crop: :fill %>
    <%# end %>
    </div>
      <div class="m-4">
       <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="location">
          <%= @trip.destination %>
        </div>
      </div>
      <div class="card-title">
        <h6 class="card-title mb-2 h-25"><%= @trip.activity_type %> in <%= @trip.destination %></h6>
        <p class="card-subtitle mb-0 font-weight-bold">$<%= trip.price %> AUD / day</p>
      </div>
        <div class="btn-card-book">
        <%= link_to "Book Now", trip_path(trips.id), class: "btn btn-primary d-block", style: "margin 10px" %>
        </div>
    </div>
  </div>
</div>
