<%= simple_form_for @trip, data: { controller: 'flatpickr'} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :name, placeholder: "Trip name" %>
        </div>
        <div class="col-md-4">
          <%= f.input :seats %>
        </div>
        <div class="col-md-4">
          <%= f.input :price, label: 'Price per customer', prompt: '$' %>
        </div>
      </div>
      <%= f.input :description %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :activity_type, as: :check_boxes, :collection => Trip::ACTIVITIES,  prompt: 'Activity', multiple: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :features, as: :check_boxes, :collection => Trip::FEATURES_LIST, prompt: 'Features', multiple: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :departure_point, :collection => Trip::DEPARTURE, prompt: 'Departure Point' %>
        </div>
        <div class="col-md-4">
          <%= f.input :destination, :collection => Trip::DESTINATION, prompt: 'Destination' %>
        </div>
        <div class="col-md-4">
          <%= f.input :departure_date_time, label:'Departure Date*', as: :string, input_html: { data: {flatpickr_target: "departureDate"} } %>
        </div>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div class="col-md-6">
      <%= f.input :latitude, :as => :hidden %>  <%# Hide this before production with :as => :hidden %>
      <%= f.input :longitude, :as => :hidden %> <%# Hide this before production with :as => :hidden %>
    </div>
  </div>

  <%= f.submit 'Add my trip', class:'btn btn-success' %>
<% end %>
