<div class="container">
  <h1><%= @trip.name %></h1>
  <% @bookings.each do |booking| %>
    <div class="border mb-2 p-4 rounded">
      <h2><%= booking.user.email %></h2>
      <p><%= booking.total_guests %></p>
      <p><%= booking.total_price %></p>
      <%= link_to "Message the guest", booking_messages_path(booking), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
