<%= render "shared/banner" %>
<div class="container py-4">
  <div data-search-trips-target="recommendations">
    <% if params[:query].nil? || params[:query]&.length == 0 %>
      <% current_user.preferences.each do |pref| %>
        <div class="mb-4">
          <p>Recommended for you</p>
          <h2 class="text-secondary display-6"><%= pref.capitalize %></h2>
          <%= render 'card', trips: Trip.where(activity_type: pref) %>
        </div>
      <% end %>
    <% end %>

    <h2 class="text-center text-secondary display-6">Activities you might like</h2>
    <%= render 'card', trips: @trips %>
  </div>

  <div data-search-trips-target="searchResults"><%# Search results will go here %></div>
</div>

<div class="column">
  <%= render "shared/column" %>
</div>

<%# <%= render partial: 'trips/index/row', locals: {trips: @trips} %>
