<h1>Trips#show</h1>

<%= @trip.name %>
<%= @trip.destination %>

<div class="booking_form">
  <p>
    <%= simple_form_for([@trip, @booking]) do |f| %>
      <%= f.input :total_guests, as: :integer %>
      <%= f.submit "Reserve", class: "btn btn-success" %>
    <% end %>
  </p>
</div>
