<div class="container">
  <h1> What you've booked</h1>
    <div class="row">
        <% if @bookings.empty? %>
          <p>You have no current bookings</p>
        <% else %>
          <% @bookings.each do |booking| %>
            <div class="col-lg-6">
              <div class="card-booking">
                <% if booking.trip.thumbnail.attached? %>
                  <%= cl_image_tag booking.trip.thumbnail.key, crop: :fill, class: "booking-image" %>
                <% end %>
                <div class="card-booking-content">
                  <div class="card-info">
                    <h2 class="card-title"><%= booking.trip.name %> in <%= booking.trip.destination %></h2>
                    <p class="card-text">Hosted by: <%= booking.trip.user.first_name %></p>
                    <p class="card-text">Date booked: <%= booking.created_at.strftime("%d/%m/%Y") %></p>
                  </div>
                  <div class="card-action">
                    <%= link_to "Full trip details", booking_path(booking), class: "btn btn-booking-primary" %>
                    <%= link_to "Cancel activity", booking_path(booking),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" },
                      class: "btn btn-booking-warning" %>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
