
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-ypos-value="<%= request.path == '/' ? '330' : '20' %>">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <div class="d-flex justify-content-center search-bar">
      <%= form_with url: trips_path, method: :get, html: {class:
      ".col-md-6", data: {search_trips_target: "form"}} do |f| %>
        <div class="d-flex">
          <%= f.text_field :query,
            data: {search_trips_target: "input", action: "keyup->search-trips#update"},
            class: "form-control",
            placeholder: "Search activities...",
            value: params[:query] %>
          <button type="submit" id="submit-icon"><i class="fa fa-search"></i></button>
        </div>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Trips", my_trips_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        <% else %>
          <li class="nav-item">
            <% if controller.controller_name == 'sessions' && controller.action_name == 'new' || controller.controller_name == 'registrations' && controller.action_name == 'new'%>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
